/* Mobile,Tablet */

@media only screen and (max-width: 63.975rem) {
  .contact {
    flex-direction: column;
  }
  .contact .contact-header {
    margin: 12px 0;
    text-align: center;
  }
  .hero .item-left {
    display: none;
  }
  .contact .email input {
    padding: 0.8rem 4vh;
    border-radius: 4px;
  }
  footer .container .footer__top .footer-top__box h3 {
    font-size: 1.4rem;
  }
  footer .container .footer__top .footer-top__box a {
    font-size: 1rem;
  }

  .collection img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    padding: 0 12px;
  }
}

/* Mobile: width < 740px */

@media only screen and (max-width: 46.1875rem) {
  .header {
    width: 100%;
  }
  .header .menu {
    display: none !important;
  }
  .header .logo {
    margin: 0 12px;
  }
  .header .logo h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  /*icon-bars*/
  .icon-bars {
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .close {
    cursor: pointer;
  }
  .product-detail {
    margin-top: 2rem;
    padding: 1rem 0rem;
    cursor: pointer;
    margin: auto;
  }
  .nav-menu {
    top: 60px;
  }
  footer .container .footer__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .container .footer__top .footer-top__box {
    margin: 0 16px;
  }
  footer .container .footer__top .footer-top__box.contact {
    display: none;
  }
  footer .container .footer__top .footer-top__box.account {
    display: none;
  }
}

/* Tablet: width >= 740px and width < 1024px */

@media only screen and (min-width: 46.25rem) and (max-width: 63.9375rem) {
  header .icon ul {
    padding: 0;
  }
  .glide__arrow--left {
    left: 6em !important;
  }
  .glide__arrow--right {
    right: 6rem !important;
  }
  .nav-menu {
    top: 87px;
  }
}

@media only screen and (max-width: 20rem) {
  .nav-menu {
    top: 95px;
  }
  .contact .email input {
    display: none;
  }
  footer {
    display: none;
  }
}
